/*media quaries*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

 X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */

/*hero section*/

@media (min-width: 992px) {
  /*hero section*/
  .form-hero {
    width: 938px;
  }

  .search-button-wrapper {
    top: 75%;
    right: 20%;
  }

  .comments-bottom-dots-three {
    top: 115%;
    left: 20%;
  }

  .star-wrapper-one {
    top: -35%;
    right: 20%;
  }
  .star-wrapper-two {
    top: -32%;
    right: 22%;
  }
  .star-wrapper-three {
    top: -26%;
    left: 74%;
  }
  .star-wrapper-four {
    top: -29%;
    right: 16%;
  }
  .star-wrapper-five {
    top: -33%;
    left: 80%;
  }

  /*Last Comments Section*/
  .product-card-name-wrapper {
    border-right: none;
  }

  /*Trends seciton*/
  .img-product-custom{
    width: 100px;
    height: 100px;
  }

  .custom-text-one{
    font-size: 20px;
  }
  .custom-text-two{
    font-size: 17px;
  }
}
